img {
  width: 100%
}

h2 {
  margin-top: 10px;
  float: left;
}

button {
  margin-top: 10px;
  float: right;
}
#bye-cat {
  display: none;
}
#bye-dog {
  display: none;
}
.jumbotron {
  margin-top: 25px;
  background-color: lavender;
  text-align: center;
}
button {
  background-color: #ffffcc;
}
button.btn:hover {
  text-decoration: underline;
}
#cat2 {
  margin-top: 10px;
}
#dog2 {
  margin-top: 10px;
}
